<!DOCTYPEhtml>
<html>

<!-- This file is the final login file. The initial login file is login_v0, inside versions folder. In this file we have removed all logic (of checking for admin) from the frontend and kept it at the backend -->

    <head>
        <style>
            .verticalAlign {
                padding-top: 50px;
            }
        </style>
        <title>Admin Login</title>
    </head>
    <!-- Add vanishing text inside text boxes. Pattern in text box so as to enter more than 4 characters. Align to centre and add boundaries. Add colour to the submit button -->
    <body>
        <form action="#" method="POST">
            <div class='verticalAlign'>
                <div style="text-align: center;">
                    <h2>Login Page</h2><br>
                                Username
                    <input type = "text" name="username" title = "Username must be between 5 to 20 characters" autofocus required autocomplete="off">
                    <br><br>
                                Password
                    <input type = "text" name = "password" title = "Password must be contain an uppercase, a lowercase, and a number" required autocomplete="off">
                    <br><br>
                    <input type="submit" value = "Submit" style= "background-color : lightblue"/><br><br> 
                    <!-- <input type="submit" value = "Submit" style= "background-color : lightblue" onclick="ejsFrontend()"/><br><br>  -->
                    <!-- If we keep the input type of button as 'button' then the validations such as required and pattern dont work. This is because these predefined HTML5 validations only work with the submit button type - https://stackoverflow.com/questions/16707743/html5-validation-when-the-input-type-is-not-submit --> 
                </div>
            </div>
        </form>
        <%- alert %> <!-- This is ejs variable injection. Here we inject the alert variable from app.js into this ejs. How to use ejs tags - https://stackoverflow.com/questions/47857392/res-render-send-data-to-ejs-file-and-using-it-in-plain-javascript -->

    </body>
</html>

