<!DOCTYPEhtml>
<html>
    <head>
        <title>Report</title>   
    </head>
    <body>
        <h3>User Report</h3>           
        <table>
            <tr>
                <td>Name</td>
                <td>Student ID</td>
                <td>Department</td>
            </tr>
            <%- inject %> <!-- This is ejs variable injection. Here we inject the alert variable from app.js into this ejs. How to use ejs tags - https://stackoverflow.com/questions/47857392/res-render-send-data-to-ejs-file-and-using-it-in-plain-javascript -->
        </table>
    </body>
</html>
